target/classes/snd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8080" doc:name="HTTP Listener Configuration"/>
    <sfdc:config name="Salesforce__Basic_Authentication" username="jony404@gmail.com" password="Jcastelan2" securityToken="i1A9EV8j4tkTz1U0kxpUG38HT" doc:name="Salesforce: Basic Authentication"/>
    <flow name="getContactsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Contact" allowedMethods="GET" doc:name="HTTP">
            <http:response-builder statusCode="200"/>
        </http:listener>
        <set-payload value="#[message.inboundProperties.'http.query.params'.lastName]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="listToReturn" value="" doc:name="list"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.listToReturn= new ArrayList();]]></expression-component>
        <choice doc:name="Choice">
            <when expression="#[payload != empty]">
                <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Name,LastName,Email,Phone FROM Contact WHERE LastName = '#[payload]'" doc:name="Salesforce Query Param"/>
            </when>
            <when expression="#[payload == empty]">
                <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Name,LastName,Email,Phone FROM Contact" doc:name="Salesforce Null"/>
            </when>
        </choice>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each">
            <expression-component doc:name="Expression"><![CDATA[import com.softwarenextdoor.Contact;

String name=payload.Name;
        name=name.substring(0, name.indexOf(" ")+1);
Contact obj = new Contact(name.trim(), payload.LastName, payload.Email,  payload.Phone);
flowVars.listToReturn.add(obj);]]></expression-component>
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </foreach>
        <set-payload value="#[flowVars.listToReturn]" encoding="UTF-8" doc:name="Set Payload"/>
        <json:object-to-json-transformer encoding="UTF-8" doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
